/** @format */

.tabWrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.tabItem {
  position: relative;
}

.indicator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  background-color: #768a97;
}
